<!DOCTYPE html>
<html>
<head>
    <title>Churn Prediction</title>
</head>
<body>

<h2>Bank Customer Churn Prediction</h2>

<form action="/predict" method="post">

Credit Score: <input type="number" name="creditscore"><br><br>

Gender:
<select name="gender">
<option value="1">Male</option>
<option value="0">Female</option>
</select><br><br>

Age: <input type="number" name="age"><br><br>

Tenure: <input type="number" name="tenure"><br><br>

Balance: <input type="number" name="balance"><br><br>

Products: <input type="number" name="products"><br><br>

Has Card:
<select name="card">
<option value="1">Yes</option>
<option value="0">No</option>
</select><br><br>

Active Member:
<select name="active">
<option value="1">Yes</option>
<option value="0">No</option>
</select><br><br>

Salary: <input type="number" name="salary"><br><br>

Geography:
<select name="geography">
<option value="France">France</option>
<option value="Germany">Germany</option>
<option value="Spain">Spain</option>
</select><br><br>

<button type="submit">Predict</button>

</form>

<h3>{{ prediction_text }}</h3>
<h3>{{ risk }}</h3>

</body>
</html>